@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Comfortaa:wght@300&family=Fredoka:wght@500&family=Quicksand:wght@400;500;600;700&family=Roboto+Mono:wght@300&display=swap');

:root {
  --header-height: 3.5rem;

  --first-color: rgba(0, 173, 181, 0.7);
  --black-color: rgba(0, 0, 0, 1);
  --black-color-light: rgba(58, 71, 80, 1);
  --white-color: rgba(255, 255, 255, 1);
  --title-color: rgba(0, 0, 0, 1);
  --text-color: rgb(56, 65, 66);
  --text-color-light: rgb(128, 144, 147);
  --body-color: rgba(235, 235, 240, 1);
  --container-color: rgba(238, 238, 238, 0.9);

  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'ADLaM Display', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  margin-bottom: 15px;
  margin-top: 10px;
  padding-bottom: 2px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  color: var(--title-color);
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 1px;
  text-indent: 30px;
}
li {
  color: var(--title-color);
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 1px;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*theme*/

.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.section {
  padding-block: 4rem 2rem;
}

.section__title-1,
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after,
.section__title-2::after {
  content: '';
  width: 40px;
  height: 28px;
  background-color: rgba(21, 160, 195, 0.4);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  rotate: -30deg;
}

.geometric-box::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--black-color);
  left: -5px;
  top: -5px;
}

.main {
  overflow: hidden;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__logo-circle,
.nav__toggle {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.nav__logo-circle {
  border-radius: 50%;
}

.nav__toogle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top 0.4s;
  }
}

.nav__title,
.nav__name,
.nav__close {
  color: var(--white-color);
}

.nav__title {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.nav__name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav__name::after,
.nav__name::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav__name::before {
  left: initial;
  right: -4rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__link:hover::after {
  width: 25%;
}

.active__link {
  color: var(--white-color);
}

.active__link::after {
  width: 25%;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.shadow-header {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
}

/* Home */

.home__conteiner {
  padding-top: 2rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  text-align: center;
}

.home__perfil {
  position: relative;
  justify-self: center;
}

.home__image {
  width: 250px;
}

.home__img {
  position: relative;
  z-index: 10;
}

.home__shadow {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  border: 4px solid var(--black-color);
  z-index: 5;
  transition: background-color 0.4s;
}

.home__perfil .geometric-box {
  top: 2.5rem;
  left: -0.7rem;
  z-index: 10;
}

.home__social {
  height: max-content;
  position: absolute;
  left: -3rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: grid;
  row-gap: 1rem;
}

.home__social-link {
  background-color: var(--black-color-light);
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 6px;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}

.home__social-link:hover {
  background-color: var(--black-color);
}

.home__info {
  margin-top: 4rem;
}

.home__description {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.home__description b {
  background: linear-gradient(90deg, rgba(0, 173, 181, 0.5), rgba(0, 173, 181, 0));
}

.home__scroll {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home__scroll-text {
  display: none;
}

.home__scroll-box {
  background-color: var(--black-color);
  color: var(--white-color);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s;
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

/* Projects */

.projects {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.projects__container {
  row-gap: 2rem;
}

.projects__card {
  padding: 1rem 1rem 2rem;
  transition: background-color 0.4s;
}

.projects__image {
  position: relative;
  margin: 0.75rem;
  justify-content: center;
}
.ubp {
  color: var(--first-color);
}
.projects__button {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects__content {
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: 0.75rem;
  padding-left: 1.75rem;
  text-align: center;
}

.projects__subtitle::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projects__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.projects__link i {
  font-size: 1rem;
  color: var(--title-color);
  transition: color 0.4s;
}

.projects__link:hover,
.projects__link:hover i {
  color: var(--first-color);
}

.projects__card:hover {
  background-color: var(--white-color);
}
/* Foooooooter */
.footer {
  background-color: var(--black-color);
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link {
  color: var(--white-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--text-color-light);
}

.footer__copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy b {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

/*scroll*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: rgba(145, 167, 173, 0.65);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(145, 167, 173, 0.55);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(145, 167, 173, 0.9);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--black-color);
  display: inline-flex;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.5s, background-color 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
  background-color: rgb(0, 172, 181);
}

.show-scroll {
  bottom: 3rem;
}

@media screen and(max-width:340) {
  .container {
    margin-inline: 1rem;
  }

  .home__image {
    width: 180px;
  }
}

@media screen and (min-width: 580px) {
  .home__container,
  .about__container,
  .projects__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 770px) {
  .projects__container {
    grid-template-columns: repeat(2, 350px);
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .section__title-1::after,
  .section__title-2::after {
    width: 70px;
    height: 48px;
  }
  .geometric-box {
    transform: scale(1.2);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle,
  .nav__title,
  .nav__name {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__link {
    color: var(--text-color);
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--title-color);
  }
  .nav__link::after {
    background-color: var(--title-color);
  }
  .active-link {
    color: var(--title-color);
  }

  .nav__link-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1.1rem 1.5rem;
  }
  .nav__link-button:hover {
    color: var(--white-color);
  }
  .nav__link-button::after {
    background-color: transparent;
  }

  .home__container {
    grid-template-columns: repeat(2, 460px);
    gap: 2rem 4rem;
    align-items: center;
    padding-block: 5.5rem;
  }
  .home__perfil {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .home__image {
    width: 350px;
  }
  .home__shadow {
    right: -1.25rem;
    bottom: -1.25rem;
    border: 6px solid var(--black-color);
  }
  .home__name,
  .home__description {
    text-align: initial;
  }
  .home__name {
    align-self: flex-end;
  }
  .home__info {
    margin-top: 0;
    align-self: flex-start;
  }
  .home__description {
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: 5.5rem;
    padding-left: 3rem;
  }
  .home__description::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    top: 14px;
  }
  .home__scroll {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }
  .home__scroll-text {
    display: block;
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
  }
  .home__scroll-box {
    width: 44px;
    height: 44px;
  }
  .home__scroll-box i {
    font-size: 1.25rem;
  }
  .home__perfil .geometric-box {
    top: 15rem;
  }
  .home__social {
    left: initial;
    right: -6rem;
  }
  .home__social-link {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
.projects__container {
  grid-template-columns: repeat(3, 352px);
  padding-block: 3rem 1rem;
}
.projects__card {
  padding: 1.25rem 1.25rem 2.5rem;
}
.projects__image {
  margin-bottom: 1rem;
  display: block;
  margin: 0 auto; /* Menempatkan gambar di tengah secara horizontal */
  width: 250px; /* Ukuran gambar */
  height: auto;
}
.projects__content {
  margin-bottom: 2rem;
}
.projects__button {
  right: 1.25rem;
}

.footer__container {
  padding-block: 4rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}
.footer__links {
  column-gap: 3rem;
  order: 1;
}
.scrollup {
  right: 3rem;
}
